<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cargo APIs</title>
  <%- include('../partials/head'); %>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<body class="container">
<main>
  <div class="jumbotron">
    <div id="GET">
	    <h4>All Cargo</h4>
      <table class="table table-striped">
        <tr>
           <th>ID</th><th>Weight</th><th>Cargo Type</th><th>Departure</th><th>Arrival</th><th>Ship ID</th>
        </tr>
        <% for (var i = 0; i < cargo.length; i++) { %>
          <tr>
            <td><%= cargo[i].id %></td>
            <td><%= cargo[i].weight %></td>
            <td><%= cargo[i].cargotype %></td>
            <td><%= cargo[i].departure %></td>
            <td><%= cargo[i].arrival %></td>
            <td><%= cargo[i].shipid %></td>
          </tr>  
        <% } %>
      </table>
      <div class="card-body">
        <form action="/cargo" class="form-horizontal" method="GET">
        <button type="submit" class="btn btn-primary">Reload Cargo</button>
        </form>
      </div>
    </div>
    <div id="POST">
	    <div class="card mt-3">
        <div class="card-header">
          Add Cargo
        </div>
		    <div id="post_message" class="container p-3 my-3 bg-primary text-white" style="display: <%= post_style %>;">
          <%= message %>
        </div>
        <div class="card-body">
          <form action="/cargo" class="form-horizontal" method="POST">
            <div class="form-group">
              <label class="control-label col-sm-2" for="post_weight">Cargo Weight</label>
              <input class="form-control" type="number" id="post_weight" name="post_weight" placeholder="Enter Cargo Weight" required autofocus>
            </div>
            <div class="form-group">
              <label for="post_type" class="control-label col-sm-2">Cargo Type</label>
              <input type="text" id="post_type" name="post_type" class="form-control" placeholder="Enter Cargo Type" required>
            </div>
            <div class="form-group">
              <label for="post_ship" class="control-label col-sm-2">Ship ID</label>
              <input type="text" id="post_ship" name="post_ship" class="form-control" placeholder="Enter Ship ID" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Cargo</button>
          </form>
        </div>
      </div>
    </div>
    <div id="PUT">
      <div class="card mt-3">
        <div class="card-header">
          Update Cargo
        </div>
		    <div id="post_message" class="container p-3 my-3 bg-primary text-white" style="display: <%= put_style %>;">
          <%= message %>
        </div>
        <div class="card-body">
          <form action="/cargo_PUT" class="form-horizontal" method="POST">
            <div class="form-group">
              <label class="control-label col-sm-2" for="put_id">Cargo ID</label>
              <input class="form-control" type="number" id="put_id" name="put_id" placeholder="Enter Cargo ID" required autofocus>
            </div>
            <div class="form-group">
              <label for="put_type" class="control-label col-sm-2">Cargo Type</label>
              <input type="text" id="put_type" name="put_type" class="form-control" placeholder="Enter Cargo Type" required>
            </div>
            <div class="form-group">
              <label for="put_weight" class="control-label col-sm-2">Cargo Weight</label>
              <input type="text" id="put_weight" name="put_weight" class="form-control" placeholder="Enter Cargo Weight" required>
            </div>
            <div class="form-group">
              <label for="put_departure" class="control-label col-sm-2">Departure Date</label>
              <input type="date" id="put_departure" name="put_departure" class="form-control" placeholder="Enter Departure Date" required>
            </div>
            <div class="form-group">
              <label for="put_arrival" class="control-label col-sm-2">Arrival Date</label>
              <input type="date" id="put_arrival" name="put_arrival" class="form-control" placeholder="Enter Arrival Date">
            </div>
            <div class="form-group">
              <label for="put_shipid" class="control-label col-sm-2">Ship ID</label>
              <input type="number" id="put_shipid" name="put_shipid" class="form-control" placeholder="Enter Ship ID" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Cargo</button>
          </form>
        </div>
      </div>
    </div>
    <div id="DELETE">
      <div class="card mt-3">
        <div class="card-header">
          Delete Cargo
        </div>
		    <div id="post_message" class="container p-3 my-3 bg-primary text-white" style="display: <%= delete_style %>;">
          <%= message %>
        </div>
        <div class="card-body">
          <form action="/cargo_DELETE" class="form-horizontal" method="POST">
            <div class="form-group">
              <label class="control-label col-sm-2" for="delete_id">Cargo ID</label>
              <input class="form-control" type="number" id="delete_id" name="delete_id" placeholder="Enter Cargo ID" required autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Delete Cargo</button>
          </form>
        </div>
      </div>
    </div>
</div>
</main>
</body>
</html>