<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cargo View</title>
  <%- include('../partials/head'); %>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<body class="container">
<main>
  <div class="jumbotron">
    <h1>Cargo View</h1>
    <br>
    <p><i>Toggle to view cargo that has already arrived</i></p>
    <label class="switch" id="tog">
      <input type="checkbox" id="toggle" onclick="myFunction()">
      <span class="slider round"></span>
    </label>
    <div>
      <p> </p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='http://localhost:8080/cargo';">Edit Cargo</button>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='http://localhost:8080/captains';">Edit Captains</button>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='http://localhost:8080/spaceships';">Edit Spaceships</button>
      </div>
    </div>
    <br>
    <div id="current">
      <h4>Current Cargo</h4>
      <table class="table table-striped">
        <tr>
           <th>ID</th><th>Weight</th><th>Cargo Type</th><th>Departure</th><th>Arrival</th><th>Ship ID</th>
        </tr>
        <% for (var i = 0; i < cargo.length; i++) { %>
          <% if (cargo[i].arrival == null) { %>
          <tr>
            <td><%= cargo[i].id %></td>
            <td><%= cargo[i].weight %></td>
            <td><%= cargo[i].cargotype %></td>
            <td><%= cargo[i].departure %></td>
            <td><%= cargo[i].arrival %></td>
            <td><%= cargo[i].shipid %></td>
          </tr>  
          <% } %>  
        <% } %>
     </table>
    </div>
    <div id="arrived" hidden="hidden">
      <br>
      <h4>Arrived Cargo</h4>
      <table class="table table-striped">
        <tr>
           <th>ID</th><th>Weight</th><th>Cargo Type</th><th>Departure</th><th>Arrival</th><th>Ship ID</th>
        </tr>
        <% for (var i = 0; i < cargo.length; i++) { %>
          <% if (cargo[i].arrival != null) { %>
          <tr>
            <td><%= cargo[i].id %></td>
            <td><%= cargo[i].weight %></td>
            <td><%= cargo[i].cargotype %></td>
            <td><%= cargo[i].departure %></td>
            <td><%= cargo[i].arrival %></td>
            <td><%= cargo[i].shipid %></td>
          </tr>  
          <% } %>  
        <% } %>
     </table>
    </div>
  </div>
</main>

<script>
function myFunction() {
  var checkBox = document.getElementById("toggle");
  var element = document.getElementById("arrived");
  if (checkBox.checked == true){
    element.removeAttribute("hidden");
  } else {
    element.setAttribute("hidden", "hidden");
  }
}
</script>

</body>
</html>